default: &default
  adapter: postgresql
  encoding: unicode
  database: vr_development
  username: root
  password: root
  host: localhost

development:
  <<: *default
  
test:
  <<: *default
  database: vr_test

production:
  <<: *default
staging:
  <<: *default
  database: vr_staging
